<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<style>
    .card {
    box-shadow: 0 4px 8px 0 rgba(1, 1, 0, 0.2);
    max-width: 400px;
    margin: 70px;
   
    float: right;
    text-align: center;
}

.container {
    padding: 5px 5px;
    letter-spacing: 0px;
    background-color: white;
    
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

heading{
    
    text-color: green;
}

h1{
    
    color:orange;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    float: left;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

</style>

<router-outlet></router-outlet>
<body background="../assets/bck.jpg" style="overflow: hidden;">
<div class="heading">
  <h1>Cool stuffs</h1>
</div>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

<div class="card">
  <img src="assets/glass.jpg" alt="item1" style="width:100%">
  <div class="container">
    <h2>500 SEK</h2>
    <p class="title">Teapot-Black</p>
    <p>Pure Glass</p>
    
    <p><button (click)="buyItems();">Add to Cart</button></p>
  </div>
</div>
<br>
<div class="card">
  <img src="assets/item1.jpg" alt="item1" style="width:100%">
  <div class="container">
    <h2>500 SEK</h2>
    <p class="title">Teapot-Black</p>
    <p>Pure Glass</p>
    
    <p><button (click)="buyItems();">Add to Cart</button></p>
  </div>
</div>
<div>{{postData}}</div>


<button routerLink="./Second" routerLinkActive="active" (click)="buyItem();">Buy</button>
</body>

